/* Container for the fixed header and search bar */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #F1F6F9;
  z-index: 1000;
  padding: 20px 0;  /* Increased padding for a more spacious header */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align header contents */
}

/* Search bar styling */
.fixed-header input {
  width: 200px;
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s ease-in-out;
}

.fixed-header input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}

.fixed-header input::placeholder {
  color: #999;
}

/* Adjusted margin to prevent Pokémon list from being hidden by the fixed header */
.pokedex-container {  /* Adjusted margin to account for the fixed header's height */
  margin-top: 190px;
  padding: 20px;      /* Added some padding for nicer spacing */
  display: flex;      /* Use flexbox for centering */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  background-color: #14274E;
  min-height: calc(100vh - 250px); /* Ensure it takes the full height minus the header */
}

/* Styling for loading text */
.pokedex-container p {
  font-size: 18px;
  color: #333;
  text-align: center; /* Center align text */
}
