.pokemon-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px; /* Adjusted padding for better spacing */
  text-align: center;
  width: 150px; /* Ensure consistent width */
  background-color: #f8f8f8;
  cursor: pointer; /* Indicate that the card is clickable */
}

.pokemon-card img {
  width: 100px; /* Adjust the size of the image */
  height: 100px; /* Maintain aspect ratio */
}

/* Style for Pokémon types */
.pokemon-card p {
  margin: 2px 0; /* Add some margin for spacing */
}

.pokemon-card .type {
  display: inline-block; /* Align types next to each other */
  padding: 2px 5px; /* Add some padding */
  border-radius: 5px; /* Rounded corners */
  margin: 2px; /* Margin between types */
  color: white; /* Text color */
}

/* Style for pokemon ID */

.pokemon-card h4 {
  margin: 10px 0 5px; /* Add some space below the ID */
  font-size: .95rem; /* Adjust size as needed */
  color: #555; /* Optional: Change color */
}

.pokemon-card h3 {
  margin: 5px 0; /* Adjust margin as needed */
}